<div class="item">
  <h2><%= link_to team.name, "http://#{request.host}:3000/#{team.name}/rooms/general"%><span style="margin-left:2%;font-size: 0.6em;">Admin:<%= "  #{team.user.email}" %></span></h2>
</div>