<div class="ui comments">
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author"><%= message.user.username %></a>
      <div class="metadata">
        <span class="date"><%= message.created_at %></span>
      </div>
      <div class="text">
        <%= message.content %>
      </div>
    </div>
  </div>
</div>