<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You have been invited to join the team: <%= @team_name %></h1>
<p>
  Click the link below to join.
</p>
<a href="">team</a>
<%= link_to @name, @general_room %>
</body>
</html>