<h1>Invitations</h1>
<div class="ui container">
  <div class="divided items">
    <%= render @invitations %>
  </div>
</div>
<hr>
<h1>My Teams</h1>
<div class="ui container">
  <div class="divided items">
    <%= render @own %>
  </div>
</div>
<hr>
<h1>Joined Teams</h1>
<div class="ui container">
  <div class="divided items">
    <%= render @teams %>
  </div>
</div>
