<div id="messages">
  <%= render @messages %>
</div>
<div class="ui fluid left action input" style="padding-bottom:2%;position: fixed;bottom: 0;width: 78%;">
  <div class="ui icon button">
    <i class="plus icon"></i>
  </div>
  <input type="text" id="message_input">
</div>